$c-white: #fff;
$c-black: #000;
$c-grey: rgb(192, 192, 192);

$c-light: #ebe7d7;
$c-dark: #1f1f2b;
$c-beige: #f0eeea;
$c-green-olive: #494e31;
$c-green-light: #759549;
$c-green-neon: #b4bb5b;
$c-red-dark: #6b0b0b;
$c-blue-dark:#3d485a;
$c-blue-light:#548da9;
/* LCARS colors from https://www.thelcars.com/colors.php */
$c-lcars01: #f5f6fa; /*space-white*/
$c-lcars02: #ddbbff; /*violate-creme*/
$c-lcars03: #33cc99; /*green*/
$c-lcars04: #cc4499; /*magenta*/
$c-lcars05: #4455ff; /*blue*/
$c-lcars06: #ffcc33; /*yellow*/
$c-lcars07: #9944ff; /*violet*/
$c-lcars08: #ff7700; /*orange*/
$c-lcars09: #cc88ff; /*african-violet*/
$c-lcars10: #cc77ff; /*text*/
$c-lcars11: #dd4444; /*red*/
$c-lcars12: #ffaa90; /*almond*/
$c-lcars13: #ffbbaa; /*almond-creme*/
$c-lcars14: #ffcc66; /*sunflower*/
$c-lcars15: #7788ff; /*bluey*/
$c-lcars16: #666688; /*gray*/
$c-lcars17: #aaaaff; /*sky*/
$c-lcars18: #88ccff; /*ice*/
$c-lcars19: #ffaa00; /*gold*/
$c-lcars20: #ff2200; /*mars*/
$c-lcars21: #ff8866; /*peach*/
$c-lcars22: #ff9966; /*butterscotch*/
$c-lcars23: #ff5555; /*tomato*/
$c-lcars24: #cc33ff; /*lilac*/