<header class="sheet-header {{actor.type}}-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <img class="paperclip" src="systems/trekadventures/assets/paperclip-60.png" data-edit="img" height="60" />
    <div class="flexcol" style="height: 100%;">
        <div class="flexrow" style="padding: 10px 5px 0px 5px;">
            <h1 class="sheet-name" style="align-self: flex-end; margin: 0 5px;"><input class="underline" name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
            <input placeholder="Species" type="text" class="underline" name="system.species" value="{{system.species}}" data-dtype="String" style="align-self: flex-end; margin: 0 5px;" />
            <input placeholder="Rank" type="text" class="underline" name="system.rank" value="{{system.rank}}" data-dtype="String" style="align-self: flex-end; margin: 0 5px;" />
        </div>
        <div class="flexrow" style="padding: 0 5px;">
            <input placeholder="Environment" type="text" class="underline" name="system.environment" value="{{system.environment}}" data-dtype="String" style="align-self: flex-end;margin: 0 5px;" />
            <input placeholder="Upbringing" type="text" class="underline" name="system.upbringing" value="{{system.upbringing}}" data-dtype="String" style="align-self: flex-end;margin: 0 5px;" />
            <input placeholder="Assignment" type="text" class="underline" name="system.assignment" value="{{system.assignment}}" data-dtype="String" style="align-self: flex-end;margin: 0 5px;" />
            <input placeholder="Traits" type="text" class="underline" name="system.traits" value="{{system.traits}}" data-dtype="String" style="align-self: flex-end;margin: 0 5px;" />
        </div>
    </div>
</header>