.window-app {
  font-family: $font-primary;
  .window-content{
    background-image: url(../assets/paper.webp);
  }
}

button{
  font-family: $font-primary;
  font-size: 16px;
  color: $c-black;
  //background-color: $c-black;
  &:hover {
    //text-shadow: 0 0 10px $c-green-light;
    box-shadow: 0 0 5px $c-green-light;
    cursor: pointer;
  }
}

.font-primary {
	font-family: $font-primary;
}

.font-secondary {
	font-family: $font-secondary;
}

.font-size-11 {
	font-size: 11px;
}

.font-size-12 {
	font-size: 12px;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="time"]:focus {
  box-shadow: 0 0 5px $c-green-light;
}

a{
  &:hover{
    text-shadow:none;
    cursor: pointer;
	
  }
}
.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px $c-green-light;
    cursor: pointer;
  }
}



.trekadventures-dialog {
	select {
		background-color: beige;
		appearance: none;
		text-indent: 1px;
		text-overflow: '';
		margin-left: 5px;
		font-family: $font-germania;
	  }

	.resource {
		margin: 0 2px 5px;
		padding: 0 5px 0 0;
		background-color: $c-green-light;
    //border: 1px solid $c-green-light ;
		.title-label {
			padding: 5px;
			font-family: $font-germania;
      		font-size: 1rem;
			color: $c-white;
		}
		input[type="number"] {
			text-align: center;
			background-color:$c-beige;
		}
	}
	ul {
		list-style: none;
		padding: 5px 20px;
		margin: 0 2px 5px;
		//background-color: $c-beige;
		li {
			text-decoration: none;
			text-align: center;
			.dice-icon {
				cursor: pointer;
				width: 32px;
				line-height: 32px;
				display: inline-block;
				margin-right: 1px;
				background-repeat: no-repeat;
				background-size: 32px 32px;
				font-size: 16px;
				color: $c-light;
				font-weight: bold;
				text-align: center;
				background-image: url(../assets/chat/d20-green-light.svg);
				&.marked {
					color: $c-light;
					background-image: url(../assets/chat/d20-olive.svg);
				}
			}
		}
	}
}

.chat-message {
	background-image: url(../assets/paper.webp);
}

.trekadventures-chat-message {
	.content {
		padding: 5px;
		h2 {
			border: none;
			font-family: $font-germania;
			font-weight: 700;
		}
		.dices-result {
			margin: 5px 0 5px 0;
			min-height: 32px;
		}
		.success-plaq {
			margin: 0 0 5px 0;
			font-family: $font-germania;
      color: $c-green-olive;
			//padding: 10px;
			font-size: 16px;
			//background-image: url(../assets/chat/green-placq.webp);
			//background-size: 100% 100%;
			//background-repeat: no-repeat;
			.TN {
				font-family: $font-primary;
				font-size: 11px;
				font-weight: bold;
			}
		}
		.complication-plaq {
			margin: 0 0 5px 0;
			font-family: $font-germania;
      color: $c-red-dark;
			//padding: 14px 10px 10px 10px;
			//font-size: 12px;
			//background-image: url(../assets/chat/red-placq.webp);
			//background-size: 100% 100%;
			//background-repeat: no-repeat;
		}
		.damage-plaq {
			//color: white;
			margin: 0 0 5px 0;
			font-family: $font-germania;
			//padding: 10px;
			font-size: 16px;
			//background-image: url(../assets/chat/yellow-placq.webp);
			//background-size: 100% 100%;
			//background-repeat: no-repeat;
		}
		.dice-icon {
			cursor: pointer;
			position: relative;
			min-width: 28px;
			line-height: 28px;
			float: left;
			margin-right: 1px;
			background-repeat: no-repeat;
			background-size: 28px 28px;
			font-size: 16px;
			color: rgb(0, 0, 0);
			font-weight: bold;
			text-align: center;
			//-webkit-text-stroke: 1px rgb(255, 255, 255);
			&.d20 {
				background-image: url(../assets/chat/d20-white.svg);
				&.complication {
					color: honeydew !important;
					background-image: url(../assets/chat/d20-complication.svg);
				}
				&.success {
					background-image: url(../assets/chat/d20-success.svg);
				}
				&.crit {
					color: gold !important;
					background-image: url(../assets/chat/d20-crit.svg);
				}
				&.reroll {
					color: #1d1d1d;
				}
			}

			&.d6 {
				width: 32px;
				line-height: 32px;
				background-size: 32px 32px;
				margin: 2px;
				&.face-1 {
					background-image: url(../assets/chat/d1.webp);
				}
				&.face-2 {
					background-image: url(../assets/chat/d2.webp);
				}
				&.face-3 {
					background-image: url(../assets/chat/d3.webp);
				}
				&.face-4 {
					background-image: url(../assets/chat/d4.webp);
				}
				&.face-5 {
					background-image: url(../assets/chat/d5.webp);
				}
				&.face-6 {
					background-image: url(../assets/chat/d6.webp);
				}
			}

			&.dice-selected {
				opacity: 0.45;
			}
		}
	}
}

.chat-item{
	.item-name{
		text-align: center;
		h3{
			font-family: $font-germania;
			font-size: 1.5rem;
		}
	}
	img{
		width: 4rem;
		height: 4rem;
	}
}


.dice-tooltip .dice-rolls .roll.max {
    color: unset;
    filter: none;
}
.dice-tooltip .dice-rolls .roll.min {
    color: unset;
    filter: none;
}
/*STA Custom CSS */

#sidebar {
	background-color: #000;
	background-image: none;  
  }
  
  p.nue {
	font-family: 'Antonio';
	font-weight: 400;
	color: $c-lcars10;
  }
  
  h4.message-sender, span.whisper-to {
	font-family: 'Antonio';
	font-weight: 400;
	color: $c-lcars18;
	text-transform: uppercase;
  }
  footer.nue {
	font-family: 'Antonio';
	font-weight: 400;
	font-size: 10px;
	color: $c-lcars03;
	border:0;
  }
  time.message-timestamp {
	font-family: 'Antonio';
	font-weight: 400;
	color: $c-lcars01;
	text-transform: uppercase;
  }
  .message-delete {
	color: $c-lcars11;
  }
  .message-delete:hover {
	background:none;
  }
  p.nue {
	font-family: 'Antonio';
	font-weight: 400;
	color: $c-lcars10;
  }
  .chat-message.whisper {
	background: #000;
  }
  h3.nue {
	font-family: 'Antonio';
	font-weight: 700;
	color: $c-lcars19;
	text-transform: uppercase;
	border: 0;
  }
  p.nue a {
  color: $c-lcars08;
  text-decoration: underline;
  text-transform: uppercase;
  }
  p.nue a:hover {
  text-shadow: none;
  background:none;
  }
  .dice-result {
  font-family: 'Antonio';
  font-weight: 400;
  color: $c-lcars10;
  }
  nav#sidebar-tabs {
  border-bottom:#000;
  box-shadow: none;
  }
  #sidebar-tabs > .item.active {
  border:#000;
  box-shadow: none;
  color: $c-black;
  //background:#999;
  }
  #sidebar-tabs > .item {
  border:#000;
  box-shadow: none;
  color: $c-black;
  }
  .tabs .item.active {
  text-shadow: none;
  }
  #sidebar.collapsed #sidebar-tabs > .item.active {
  border-bottom: none;
  }
  ::-webkit-scrollbar-thumb {
  background: $c-lcars09;
  border: 1px solid $c-lcars09;
  }
  .directory .action-buttons button {
	position:relative;
    display: block;
    margin: 0 8px 16px 8px;
    width: 100px;
    height: 60px;
    padding: 10px 14px 1px 1px;
    background-color: $c-lcars01;
    border-radius: 26px;
    text-align: right;
    line-height: normal;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: $c-black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
	border:0;
	//margin:2px;

  }
  .scenes-sidebar .action-buttons button.create-document {
	background-color:$c-lcars02;
  }
  .scenes-sidebar .action-buttons button.create-folder {
	background-color:$c-lcars03;
  }
  .actors-sidebar .action-buttons button.create-document {
	background-color:$c-lcars04;
  }
  .actors-sidebar .action-buttons button.create-folder {
	background-color:$c-lcars05;
  }
  .items-sidebar .action-buttons button.create-document {
	background-color:$c-lcars06;
  }
  .items-sidebar .action-buttons button.create-folder {
	background-color:$c-lcars07;
  }
  .journal-sidebar .action-buttons button.create-document {
	background-color:$c-lcars08;
  }
  .journal-sidebar .action-buttons button.create-folder {
	background-color:$c-lcars09;
  }
  .tables-sidebar .action-buttons button.create-document {
	background-color:$c-lcars10;
  }
  .tables-sidebar .action-buttons button.create-folder {
	background-color:$c-lcars11;
  }
  .cards-sidebar .action-buttons button.create-document {
	background-color:$c-lcars12;
  }
  .cards-sidebar .action-buttons button.create-folder {
	background-color:$c-lcars13;
  }
  .playlists-sidebar .action-buttons button.create-document {
	background-color:$c-lcars14;
  }
  .playlists-sidebar .action-buttons button.create-folder {
	background-color:$c-lcars15;
  }
  .compendium-sidebar .action-buttons button.create-compendium {
	background-color:$c-lcars17;
  }
#sidebar:not(.collapsed) {
	background: linear-gradient(
		to right,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0) 170px,
		#dd4444 170px),
		linear-gradient(
			to bottom,
			$c-lcars11 0px,
			$c-lcars11 115px,
			$c-black 115px,
			$c-black 120px,
			$c-lcars08 120px,
			$c-lcars08 355px,
			$c-black 355px,
			$c-black 360px,
			$c-lcars12 360px,
			$c-lcars12 645px,
			$c-black 645px,
			$c-black 650px,
			transparent 650px
		),
		linear-gradient(
			to bottom,
			$c-lcars15 650px,
			$c-lcars15 995px,
			$c-black 995px,
			$c-black 1000px,
			$c-lcars11 1000px,
			$c-lcars11 1155px,
			$c-black 1155px,
			$c-black 1160px,
			transparent 1160px
			),
		linear-gradient(
			to bottom,
			$c-lcars09 1160px,
			$c-lcars09 1375px,
			$c-black 1375px,
			$c-black 1380px,

		)
			
			;
	/*
lcars side bar sizes
margin:5px
top: 115px
size1: 80px
size2: 160px
size3: 275px
size4: 345px
size5: 155px
size6: 215px

	*/
    border: none;
    width: 570px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 0;
}
#sidebar:not(.collapsed) > #sidebar-tabs {
    margin-left: 190px; 
}
#sidebar .sidebar-tab {
	margin-left:170px;
	border-top-left-radius:20px;
	background:$c-black;
	padding: 14px 0 0 14px;
}
nav#sidebar-tabs {
	background:$c-lcars11;
	margin-bottom:0;
	font-size:10px;
}
nav#sidebar-tabs .item, nav#sidebar-tabs .item.active {
	border-left: 5px solid #000;
	border-radius: 0;
	width:50px;
}
nav#sidebar-tabs .item:hover {
	background:$c-lcars24;
}
.whisper {
	margin-top:0px;
}
#sidebar-tabs > .item {
	flex:auto;
}
@keyframes blinking {
	0%,50% {
		background: $c-lcars19;
	  }
	  51%,100% {
		background: $c-black;
	  }
}
#sidebar-tabs > .item.active {
	animation:blinking 2s linear infinite;
}
.combat-sidebar .combat-tracker-header a.combat-button {
	color:$c-white;
}
input[type=text]:focus, input[type=number]:focus, input[type=password]:focus, input[type=date]:focus, input[type=time]:focus {
    box-shadow: none;
}
input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="time"]:focus, input[type="search"]:focus {
	box-shadow:none;
}
textarea:focus, select:focus {
	box-shadow:none;
}
#chat-form textarea, #chat-controls .roll-type-select, .directory .directory-header .header-search input {
	background:$c-lcars01;
}