<div class="trekadventures-dialog">
    <div class="flexrow ">
        {{#ifCond attribute '>' 0}}
        <div class="resource flexrow flex-group-left">
            <p class="title-label">{{localize "trekadventures.TEMPLATES.Attr"}}</p>
            <input type="number" name="attribute" value="{{attribute}}">
        </div>
        {{/ifCond}}

        {{#ifCond attribute '==' -1}}
        <div class="resource flexrow flex-group-left">

            <select class="select-attribute">
                {{#select prefAttribute}}
                <option value="control">{{localize (concat 'trekadventures.Ability.control')}}-{{actor.attributes.control.value}}</option>
                <option value="daring">{{localize (concat 'trekadventures.Ability.daring')}}-{{actor.attributes.daring.value}}</option>
                <option value="fitness">{{localize (concat 'trekadventures.Ability.fitness')}}-{{actor.attributes.fitness.value}}</option>
                <option value="insight">{{localize (concat 'trekadventures.Ability.insight')}}-{{actor.attributes.insight.value}}</option>
                <option value="reason">{{localize (concat 'trekadventures.Ability.reason')}}-{{actor.attributes.reason.value}}</option>
                <option value="presence">{{localize (concat 'trekadventures.Ability.presence')}}-{{actor.attributes.presence.value}}</option>
                {{/select}}
            </select>

        </div>
        {{/ifCond}}

        <div class="resource flexrow flex-group-left">
            <p class="title-label">{{localize "trekadventures.TEMPLATES.Skill"}}</p>
            <input type="number" name="skill" value="{{skill}}">
        </div>
        <div class="resource flexrow flex-group-left">
            <p class="title-label">{{localize "trekadventures.TEMPLATES.Focus"}}</p>
            <input type="checkbox" name="focus" {{#ifCond focus '==' true}}checked{{/ifCond}}>
        </div>
        <div class="resource flexrow flex-group-left">
            <p class="title-label">{{localize "trekadventures.TEMPLATES.Compl"}}</p>
            <input type="number" name="complication" value="{{complication}}">
        </div>
    </div>

    <ul class="flexrow">
        <li><a class="dice-icon d20" data-index="1">1</a></li>
        <li><a class="dice-icon d20" data-index="2">2</a></li>
        <li><a class="dice-icon d20" data-index="3">3</a></li>
        <li><a class="dice-icon d20" data-index="4">4</a></li>
        <li><a class="dice-icon d20" data-index="5">5</a></li>
    </ul>
</div>