.trekadventures.momentum-tracker {
	position: absolute;
	display: block;
	margin: 5px;
	bottom: 40px !important;
	right: 320px !important;
    max-width: 240px;
	z-index: 1000;

	.ap-resource {
		position:relative;
		display: block;
		margin: 0 8px 16px 8px;
		width: 220px;
		height: 60px;
		padding: 2px 24px;
		background-color: $c-lcars09;
		border-radius: 26px;
		text-align: right;
		line-height: normal;
		text-decoration: none;
		font-size: 17px;
		font-weight: bold;
		text-transform: uppercase;
		color: $c-black;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		padding-top:2px;
		font-family: 'Antonio';

		&.gm {
            background-color: $c-lcars20;			
		}
		&.party {
            background-color: $c-lcars15;
		}
		&.maxMomentum-box {
            background-color: $c-lcars09;
		}

		.toggle-maxAp {
			position: absolute;
			top: 2px;
			left: 24px;
			color: $c-black;
		}

		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
		h4 {
			margin: 0 0 2px 0;
			color: $c-black;
			font-weight:bold;
		}
		input[type="number"] {
			
            text-align: center;
		}

		.ap-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			background: none;
			color: $c-black;
			margin: 4px 2px;
			text-decoration: none;

		}
	}
}
